/* body {
  background-image: url(/Images/bgpol.jpg);
} */

.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}
.company__info {
  background-color: #008080;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}

.margin-50 {
  margin-left: 50px;
}

/* FOR FAQ PAGE */

.faq-text {
  margin: 30px;
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 0;
}

.accordion .card {
  margin-bottom: 0.75rem;
  box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
  border-radius: 0.25rem;
}
.accordion .card .card-header {
  background-color: transparent;
  border: none;
  padding: 2rem;
}
.grid-margin {
  margin-bottom: 0.625rem;
}
.accordion .card .card-header a[aria-expanded="true"]:before {
  content: "\F374";
}
.accordion .card .card-header a:before {
  font-family: "Material Design Icons";
  position: absolute;
  right: 7px;
  top: 0;
  font-size: 18px;
  display: block;
}
.accordion .card .card-header a[aria-expanded="false"]:before {
  content: "\F415";
}

/* ABOUT US PAGE */

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.cropped {
  width: 135px;
  height: 65px;
  
}

.buttonON {
  display: inline-block !important;
  padding: 5px 10px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  outline: none !important;
  color: #fff !important;
  background-color: #4CAF50 !important;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0 5px #999 !important;
}

.buttonON:hover {background-color: #3e8e41 !important}
.buttonON:active {
  background-color: #3e8e41 !important;
  box-shadow: 0 1px #666 !important;
  transform: translateY(4px) !important;
}

.buttonOFF {
  display: inline-block !important;
  padding: 5px 10px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  outline: none !important;
  color: #fff !important;
  background-color: #e74c3c !important;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0 5px #999 !important;
}

.buttonOFF:hover {background-color: #c0392b !important}
.buttonOFF:active {
  background-color: #c0392b !important;
  box-shadow: 0 1px #666 !important;
  transform: translateY(4px) !important;
}

.text {
  text-align: center;
  font-size: 18px;
  width: 200px;
  height: 22px;
  border: 3px solid #9b59b6;
  border-radius: 5px;
  padding: 3px;
  -webkit-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.text:focus {
  border: 3px solid #8e44ad;
  box-shadow: 0 0 7px #8e44ad;
  outline: none;
}
.jumbotron{
  padding-top: 0px;
  padding-bottom:0px;
}

h1{
  color: rgb(248, 245, 241);
  font-size: 10rem;
  text-shadow: 5px 5px 5px #4D4C4B;
  text-align: center;
}
.dashp{
  color: rgb(248, 245, 241);
  font-size: 2rem;
  text-shadow: 5px 5px 5px #4D4C4B;
}
